<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>AuctionDetails</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<header>
    <nav class="navbar navbar-dark bg-dark navbar-expand-xl">
        <a href="/" class="navbar-brand"><img src="#" th:src="@{~/img/logo.png}" width="66" height="35"
                                              class="d-inline-block mr-1 align-bottom" alt="">Aligatro</a>

        <button class="navbar-toggler order-first" type="button" data-toggle="collapse" data-target="#main-navbar"
                aria-controls="main-navbar" aria-expanded="false" aria-label="Navigation Bar Toggler">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="navbar-nav mr-auto">
                <li sec:authorize="isAnonymous()" class="nav-item">
                    <a class="nav-link" th:href="@{/login}">Sign-In</a>
                </li>
                <li sec:authorize="isAnonymous()" class="nav-item">
                    <a class="nav-link" th:href="@{/register}">Register</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link" th:href="@{/edit}"><span sec:authentication="name"></span></a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <img src="/avatar" alt="" height="40px">
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">Logout</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link" th:href="@{/addAuction}">New Auction</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link" th:href="@{/myPurchases}">My Purchases</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link" th:href="@{/myAuctions}">My Auctions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#sticky-footer">Contact</a>
                </li>
            </ul>
            <form class="form-inline" action="#" th:action="@{/search}" method="post">
                <input class="form-control mr-1" type="search" name="phrase" placeholder="Search..." aria-label="Search">
                <button class="btn btn-secondary" type="submit">Search auction</button>
            </form>
        </div>
    </nav>
</header>

<div class="container-fluid bg-light" th:object="${auction}">
    <div class="row py-2">
        <div class="col-sm-12 col-md-4">
            <img src="#" th:src="|/auction/getImage/${auction.id}|" alt="Item image" class="img-fluid img-thumbnail">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td>Category</td>
                        <td th:text="*{auctionCategory.getCategory()}">HOME AND GARDEN</td>
                    </tr>
                    <tr>
                        <td>Started</td>
                        <td th:text="*{startDate}">22-01-2020</td>
                    </tr>
                    <tr>
                        <td>Finishes</td>
                        <td th:text="*{endDate}">25-02-2020</td>
                    </tr>
                    <tr>
                        <td>Min. bid</td>
                        <td th:text="|*{#numbers.formatDecimal(minimumBid,1,2)} PLN|">350,00 PLN</td>
                    </tr>
                    <tr>
                        <td>From</td>
                        <td th:text="*{city}">Warsaw</td>
                    </tr>
                    <tr>
                        <td>Views</td>
                        <td th:text="*{views}">91</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-sm-12 col-md-8">
            <h1 class="text-center" th:text="*{title}">Auction Title</h1>
            <h4 class="text-center" th:text="|Seller *{user.username}|">Seller moriarty88</h4>
            <p class="lead text-muted text-center" th:text="*{description}">Some long description text.</p>

            <div class="col text-center" th:if="*{buyNowPrice gt bidding.currentBid}">
                <h3><span th:text="|Buy now price *{#numbers.formatDecimal(buyNowPrice,1,2)} PLN|">Buy now price 1200,00 PLN</span></h3>
                <a th:href="|/auction/buyNow/*{id}|" type="button" class="btn btn-lg btn-block btn-outline-success">Buy Now!</a>
                <h3><span th:text="|Highest bid *{#numbers.formatDecimal(bidding.currentBid,1,2)} PLN|">Highest bid 980,00 PLN</span></h3>
                <form class="form" method="post" action="#" th:action="@{/auction/bid(auctionId=${auction.id})}" th:object="${biddingForm}">
                    <div class="form-group row text-center ml-1">
                        <input class="form-control form-control-lg col-md-3" type="text" placeholder="Enter your bid" th:field="*{bid}">
                        <div class="col-md-8">
                            <button class="btn btn-lg btn-outline-primary btn-block" type="submit">BID</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col text-center" th:if="*{buyNowPrice le bidding.currentBid}">
                <h3><span th:text="|Winning user *{(bidding.user.username)}|">Winning user iWinAllAuctions</span> </h3>
                <a th:href="|/auction/buyNow/*{id}|" type="button" class="btn btn-lg btn-block btn-outline-success disabled">Buy Now!</a>
                <h3><span th:text="|Highest bid *{#numbers.formatDecimal(bidding.currentBid,1,2)}|">Highest bid 980,00 PLN</span></h3>
                <form class="form" method="post" action="#" th:action="@{/auction/bid(auctionId=${auction.id})}" th:object="${biddingForm}">
                    <div class="form-group row text-center ml-1">
                        <input class="form-control form-control-lg col-md-3" type="text" placeholder="Enter your bid" th:field="*{bid}">
                        <div class="col-md-8">
                            <button class="btn btn-lg btn-outline-primary btn-block" type="submit">BID</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<footer id="sticky-footer" class="py-2 bg-secondary text-white-50">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <ul class="list-unstyled mt-2 mb-2 py-2">
                    <li><small>Copyright &copy; Tomasz Gieraltowski</small></li>
                    <li class="py-1"><a href="mailto:tgieraltowski@gmail.com"><small class="text-white">
                        <img src="#" th:src="@{~/img/Gmail-icon.png}" class="img mr-2" alt="Gmail logo">Email me</small>
                    </a></li>
                    <li class="py-1"><a href="https://bitbucket.org/tgieraltowski/aligatro/src/master/"><small class="text-white">
                        <img src="#" th:src="@{~/img/bitbucket-icon.png}" class="img mr-2" alt="Bitbucket logo">Source code
                    </small></a></li>
                    <li class="py-1"><a href="https://www.linkedin.com/in/tgieraltowski/"><small class="text-white">
                        <img src="#" th:src="@{~/img/icons8-linkedin-32.png}" class="img mr-2" alt="Bitbucket logo">Linkedin
                    </small></a></li>
                </ul>
            </div>
            <div class="col-sm-6">
                <ul class="list-unstyled mt-2 mb-2 py-2">
                    <li><small>My other projects:</small></li>
                    <li class="py-1"><a href="https://github.com/jonnybazooka/NBPCurrencyToolkit"><small class="text-white">
                        <img src="#" th:src="@{~/img/GitHub-Mark-Light-32px.png}" class="img mr-2" alt="GitHub logo">Desktop neural network predicting currency changes
                    </small></a></li>
                    <li class="py-1"><a href="https://github.com/jonnybazooka/WarhammerGameMasterTools"><small class="text-white">
                        <img src="#" th:src="@{~/img/GitHub-Mark-Light-32px.png}" class="img mr-2" alt="GitHub logo">Desktop tools for Game Masters running Warhammer 4th edition
                    </small></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>