<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Not Found</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<header>
    <nav class="navbar navbar-dark bg-dark navbar-expand-xl">
        <a href="/" class="navbar-brand"><img src="#" th:src="@{~/img/logo.png}" width="66" height="35"
                                              class="d-inline-block mr-1 align-bottom" alt="">Aligatro</a>

        <button class="navbar-toggler order-first" type="button" data-toggle="collapse" data-target="#main-navbar"
                aria-controls="main-navbar" aria-expanded="false" aria-label="Navigation Bar Toggler">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="navbar-nav mr-auto">
                <li sec:authorize="isAnonymous()" class="nav-item">
                    <a class="nav-link" th:href="@{/login}">Sign-In</a>
                </li>
                <li sec:authorize="isAnonymous()" class="nav-item">
                    <a class="nav-link" th:href="@{/register}">Register</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link" th:href="@{/edit}"><span sec:authentication="name"></span></a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <img src="/avatar" alt="" height="40px">
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">Logout</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link" th:href="@{/addAuction}">New Auction</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link" th:href="@{/myPurchases}">My Purchases</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link" th:href="@{/myAuctions}">My Auctions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#sticky-footer">Contact</a>
                </li>
            </ul>
            <form class="form-inline" action="#" th:action="@{/search}" method="post">
                <input class="form-control mr-1" type="search" name="phrase" placeholder="Search..." aria-label="Search">
                <button class="btn btn-secondary" type="submit">Search auction</button>
            </form>
        </div>
    </nav>
</header>

<div class="jumbotron text-center mb-0">
    <h1>Success</h1>
    <hr class="my-3">
        <p>Auction <span th:text="${auctionId}">10</span> has been cancelled.</p>
</div>

<footer id="sticky-footer" class="py-2 bg-secondary text-white-50">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <ul class="list-unstyled mt-2 mb-2 py-2">
                    <li><small>Copyright &copy; Tomasz Gieraltowski</small></li>
                    <li class="py-1"><a href="mailto:tgieraltowski@gmail.com"><small class="text-white">
                        <img src="#" th:src="@{~/img/Gmail-icon.png}" class="img mr-2" alt="Gmail logo">Email me</small>
                    </a></li>
                    <li class="py-1"><a href="https://bitbucket.org/tgieraltowski/aligatro/src/master/"><small class="text-white">
                        <img src="#" th:src="@{~/img/bitbucket-icon.png}" class="img mr-2" alt="Bitbucket logo">Source code
                    </small></a></li>
                    <li class="py-1"><a href="https://www.linkedin.com/in/tgieraltowski/"><small class="text-white">
                        <img src="#" th:src="@{~/img/icons8-linkedin-32.png}" class="img mr-2" alt="Bitbucket logo">Linkedin
                    </small></a></li>
                </ul>
            </div>
            <div class="col-sm-6">
                <ul class="list-unstyled mt-2 mb-2 py-2">
                    <li><small>My other projects:</small></li>
                    <li class="py-1"><a href="https://github.com/jonnybazooka/NBPCurrencyToolkit"><small class="text-white">
                        <img src="#" th:src="@{~/img/GitHub-Mark-Light-32px.png}" class="img mr-2" alt="GitHub logo">Desktop neural network predicting currency changes
                    </small></a></li>
                    <li class="py-1"><a href="https://github.com/jonnybazooka/WarhammerGameMasterTools"><small class="text-white">
                        <img src="#" th:src="@{~/img/GitHub-Mark-Light-32px.png}" class="img mr-2" alt="GitHub logo">Desktop tools for Game Masters running Warhammer 4th edition
                    </small></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
</body>
</html>