<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Auction</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<header>
    <nav class="navbar navbar-dark bg-dark navbar-expand-xl">
        <a href="/" class="navbar-brand"><img src="#" th:src="@{~/img/logo.png}" width="66" height="35"
                                              class="d-inline-block mr-1 align-bottom" alt="">Aligatro</a>

        <button class="navbar-toggler order-first" type="button" data-toggle="collapse" data-target="#main-navbar"
                aria-controls="main-navbar" aria-expanded="false" aria-label="Navigation Bar Toggler">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="navbar-nav mr-auto">
                <li sec:authorize="isAnonymous()" class="nav-item">
                    <a class="nav-link" th:href="@{/login}">Sign-In</a>
                </li>
                <li sec:authorize="isAnonymous()" class="nav-item">
                    <a class="nav-link" th:href="@{/register}">Register</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link" th:href="@{/edit}"><span sec:authentication="name"></span></a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <img src="/avatar" alt="" height="40px">
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">Logout</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item active">
                    <a class="nav-link" th:href="@{/addAuction}">New Auction</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link" th:href="@{/myPurchases}">My Purchases</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link" th:href="@{/myAuctions}">My Auctions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#sticky-footer">Contact</a>
                </li>
            </ul>
            <form class="form-inline" action="#" th:action="@{/search}" method="post">
                <input class="form-control mr-1" type="search" name="phrase" placeholder="Search..." aria-label="Search">
                <button class="btn btn-secondary" type="submit">Search auction</button>
            </form>
        </div>
    </nav>
</header>

<div class="container-fluid bg-dark text-white py-3">
    <div class="col-md-10 order-md-1">
        <h4 class="mb-3">Please enter details for new auction...</h4>
        <form class="needs-validation" novalidate="" action="/addAuction/create" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="title">Auction Title</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="" value="" required="">
                    <div class="invalid-feedback">
                        Valid title is required.
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" id="description" name="description" placeholder="" value=""
                           required="">
                    <div class="invalid-feedback">
                        Valid description is required.
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5 mb-3">
                    <label for="category">Category</label>
                    <select class="custom-select d-block w-100" id="category" name="category" required="">
                        <option th:each="category : ${T(org.tgieralt.aligatro.jpa.models.AuctionCategory).getValues()}"
                                th:value="${category}"
                                th:text="${category.getCategory()}">
                        </option>
                    </select>
                    <div class="invalid-feedback">
                        Please select a valid category.
                    </div>
                </div>

                <div class="col-md-5 mb-3">
                    <label for="endDate">End Date</label>
                    <input type="date" class="form-control" id="endDate" name="endDate" placeholder="" required="">
                    <div class="invalid-feedback">
                        Please pick end date.
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5 mb-3">
                    <label for="minimumBid">Minimum Bid</label>
                    <input type="text" class="form-control" id="minimumBid" name="minimumBid" placeholder="" required="">
                    <div class="invalid-feedback">
                        Please enter minimum bid amount.
                    </div>
                </div>
                <div class="col-md-5 mb-3">
                    <label for="buyNow">Buy Now</label>
                    <input type="text" class="form-control" id="buyNow" name="buyNow" placeholder="" required="">
                    <div class="invalid-feedback">
                        Please enter buy now amount.
                    </div>
                </div>
            </div>
            <hr class="mb-4">
            <div class="custom-control custom-checkbox" th:if="${user.userDetails.accountType.toString().equals('PREMIUM')}">
                <input type="checkbox" class="custom-control-input" value="true" id="promoted" name="promoted">
                <label class="custom-control-label" for="promoted">Should auction be promoted?</label>
            </div>
            <div class="custom-control custom-checkbox" th:if="${user.userDetails.accountType.toString().equals('NORMAL')}">
                <input type="checkbox" class="custom-control-input" value="true" id="notPromoted" name="promoted" disabled>
                <label class="custom-control-label" for="notPromoted">Should auction be promoted? - Available for Premium users only. Upgrade to Premium for 9,99 PLN / month.</label>
            </div>
            <hr class="mb-4">

            <label for="image">Item Picture (JPG)</label>
            <input type="file" id="image" name="image">
            <button class="btn btn-light btn-lg btn-block mt-2 mb-3" type="submit">SUBMIT AUCTION</button>
        </form>
    </div>
</div>



<footer id="sticky-footer" class="py-2 bg-secondary text-white-50">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <ul class="list-unstyled mt-2 mb-2 py-2">
                    <li><small>Copyright &copy; Tomasz Gieraltowski</small></li>
                    <li class="py-1"><a href="mailto:tgieraltowski@gmail.com"><small class="text-white">
                        <img src="#" th:src="@{~/img/Gmail-icon.png}" class="img mr-2" alt="Gmail logo">Email me</small>
                    </a></li>
                    <li class="py-1"><a href="https://bitbucket.org/tgieraltowski/aligatro/src/master/"><small class="text-white">
                        <img src="#" th:src="@{~/img/bitbucket-icon.png}" class="img mr-2" alt="Bitbucket logo">Source code
                    </small></a></li>
                    <li class="py-1"><a href="https://www.linkedin.com/in/tgieraltowski/"><small class="text-white">
                        <img src="#" th:src="@{~/img/icons8-linkedin-32.png}" class="img mr-2" alt="Bitbucket logo">Linkedin
                    </small></a></li>
                </ul>
            </div>
            <div class="col-sm-6">
                <ul class="list-unstyled mt-2 mb-2 py-2">
                    <li><small>My other projects:</small></li>
                    <li class="py-1"><a href="https://github.com/jonnybazooka/NBPCurrencyToolkit"><small class="text-white">
                        <img src="#" th:src="@{~/img/GitHub-Mark-Light-32px.png}" class="img mr-2" alt="GitHub logo">Desktop neural network predicting currency changes
                    </small></a></li>
                    <li class="py-1"><a href="https://github.com/jonnybazooka/WarhammerGameMasterTools"><small class="text-white">
                        <img src="#" th:src="@{~/img/GitHub-Mark-Light-32px.png}" class="img mr-2" alt="GitHub logo">Desktop tools for Game Masters running Warhammer 4th edition
                    </small></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

</body>
</html>