<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<header>
    <nav class="navbar navbar-dark bg-dark navbar-expand-xl">
        <a href="/" class="navbar-brand"><img src="#" th:src="@{~/img/logo.png}" width="66" height="35"
                                              class="d-inline-block mr-1 align-bottom" alt="">Aligatro</a>

        <button class="navbar-toggler order-first" type="button" data-toggle="collapse" data-target="#main-navbar"
                aria-controls="main-navbar" aria-expanded="false" aria-label="Navigation Bar Toggler">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="navbar-nav mr-auto">
                <li sec:authorize="isAnonymous()" class="nav-item">
                    <a class="nav-link" th:href="@{/login}">Sign-In</a>
                </li>
                <li sec:authorize="isAnonymous()" class="nav-item">
                    <a class="nav-link" th:href="@{/register}">Register</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link" th:href="@{/edit}"><span sec:authentication="name"></span></a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <img src="/avatar" alt="" height="40px">
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">Logout</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link" th:href="@{/addAuction}">New Auction</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link" th:href="@{/myPurchases}">My Purchases</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link" th:href="@{/myAuctions}">My Auctions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#sticky-footer">Contact</a>
                </li>
            </ul>
            <form class="form-inline" action="#" th:action="@{/search}" method="post">
                <input class="form-control mr-1" type="search" name="phrase" placeholder="Search..." aria-label="Search">
                <button class="btn btn-secondary" type="submit">Search auction</button>
            </form>
        </div>
    </nav>
</header>

<div class="jumbotron text-center mb-0">
    <h1>Welcome to Aligatro!</h1>
    <p class="lead">This is my showcase project simulating a real life auction platform like Ebay, Allegro, AliExpress
        etc...</p>
    <hr class="my-3">
    <p>This project is in a state of constant development. For full user experience please register with a fake email and user details.
        Alternatively you can use showcase user account (username: jonnybazooka, password: jonnybazooka).
        This site is completely responsive, feel free to try it out on different devices. Any feedback is greatly appreciated.
        I'm willing to consider job offers as a Junior Java Developer, so don't hesitate to contact me.</p>
    <p>Currently used technologies:
        Java8, SpringBoot, Spring MVC, Spring Data, Spring Security, Thymeleaf, some custom CSS, Bootstrap4, PostgreSQL database,
        Hibernate, Flyway, Maven. Site is caching resources for better performance.</p>
</div>

<div class="container-fluid bg-dark">

    <div class="row">
        <div class="btn-toolbar pb-2 pt-2" role="toolbar" aria-label="Filtering buttons toolbar">
            <div class="dropdown">
                <div class="btn-group">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="categoryFilter"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Filter by Category
                    </button>
                    <div class="dropdown-menu" aria-labelledby="categoryFilter">
                        <a th:each="category : ${T(org.tgieralt.aligatro.jpa.models.AuctionCategory).getValues()}"
                           th:class="dropdown-item" th:href="@{/(category=*{category})}"><span th:text="*{category.getCategory()}">Category</span></a>
                        <a class="dropdown-item" th:href="@{/}">SHOW ALL</a>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="sortByDateFilter"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Filter by Date
                        </button>
                        <div class="dropdown-menu" aria-labelledby="sortByDateFilter">
                            <a class="dropdown-item" th:href="@{/(dateSort=latest10)}">Show 10 Latest</a>
                            <a class="dropdown-item" th:href="@{/(dateSort=soon10)}">Show 10 Ending Soon</a>
                            <a class="dropdown-item" th:href="@{/(dateSort=today)}">Show 10 Ending Today</a>
                        </div>
                    </div>
                    <div class="dropdown" sec:authorize="isAuthenticated()">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="filterUsers"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Filter by User
                        </button>
                        <div class="dropdown-menu" aria-labelledby="filterUsers">
                            <a class="dropdown-item" th:href="@{/(currentUsers=currentUsers)}">Show Mine</a>
                            <a class="dropdown-item" th:href="@{/(currentUsers=otherUsers)}">Show Others</a>
                            <a class="dropdown-item" th:href="@{/}">SHOW ALL</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-deck mr-2">
        <div class="col-sm-6 col-lg-4 col-xl-3 mb-2" th:each="auction : ${allAuctions}"
             th:if="*{auction.auctionStatus.toString().equals('ACTIVE')}">
            <div class="card w-100 h-100 shadow-sm">
                <div class="card-header text-center">
                    <h2 class="my-0 font-weight-bold"><span th:text="${auction.title}">Title</span></h2>
                    <p><span th:text="${auction.auctionCategory.getCategory()}">AUTOMOBILES</span></p>
                </div>
                <div class="card-body text-center">
                    <h3 class="card-title pricing-card-title"
                        th:if="${auction.buyNowPrice gt auction.bidding.currentBid}">
                        <span th:text="${#numbers.formatDecimal(auction.buyNowPrice,1,2)}">100,00</span>
                        <small class="text-muted"> PLN / Buy Now!</small> </h3>
                    <h3 class="card-title pricing-card-title"
                        th:if="${auction.buyNowPrice le auction.bidding.currentBid}">
                        <span th:text="${#numbers.formatDecimal(auction.bidding.currentBid,1,2)}">100,00</span>
                        <small class="text-muted"> PLN / Current Bid!</small> </h3>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Ends</li>
                        <li th:text="${auction.endDate}">14-05-2001</li>
                        <li>
                            <img src="#" th:src="|/auction/getImage/${auction.id}|" alt="Item picture"
                                 class="card-img-top img-fluid">
                        </li>
                    </ul>
                </div>
                <div class="card-footer">
                    <a th:href="|/auction/details/${auction.id}|" type="button"
                       class="btn btn-lg btn-block btn-outline-primary">Details</a>
                    <a th:if="${auction.bidding.currentBid lt auction.buyNowPrice}"
                       th:href="|/auction/buyNow/${auction.id}|" type="button"
                       class="btn btn-lg btn-block btn-outline-success">Buy Now</a>
                    <a th:if="${auction.bidding.currentBid ge auction.buyNowPrice}"
                       th:href="|/auction/buyNow/${auction.id}|" type="button"
                       class="btn btn-lg btn-block btn-outline-success disabled">Buy Now</a>
                </div>
            </div>
        </div>
    </div>

</div>

<footer id="sticky-footer" class="py-2 bg-secondary text-white-50">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <ul class="list-unstyled mt-2 mb-2 py-2">
                    <li><small>Copyright &copy; Tomasz Gieraltowski</small></li>
                    <li class="py-1"><a href="mailto:tgieraltowski@gmail.com"><small class="text-white">
                        <img src="#" th:src="@{~/img/Gmail-icon.png}" class="img mr-2" alt="Gmail logo">Email me</small>
                    </a></li>
                    <li class="py-1"><a href="https://bitbucket.org/tgieraltowski/aligatro/src/master/"><small class="text-white">
                        <img src="#" th:src="@{~/img/bitbucket-icon.png}" class="img mr-2" alt="Bitbucket logo">Source code
                    </small></a></li>
                    <li class="py-1"><a href="https://www.linkedin.com/in/tgieraltowski/"><small class="text-white">
                        <img src="#" th:src="@{~/img/icons8-linkedin-32.png}" class="img mr-2" alt="Bitbucket logo">Linkedin
                    </small></a></li>
                </ul>
            </div>
            <div class="col-sm-6">
                <ul class="list-unstyled mt-2 mb-2 py-2">
                    <li><small>My other projects:</small></li>
                    <li class="py-1"><a href="https://github.com/jonnybazooka/NBPCurrencyToolkit"><small class="text-white">
                        <img src="#" th:src="@{~/img/GitHub-Mark-Light-32px.png}" class="img mr-2" alt="GitHub logo">Desktop neural network predicting currency changes
                    </small></a></li>
                    <li class="py-1"><a href="https://github.com/jonnybazooka/WarhammerGameMasterTools"><small class="text-white">
                        <img src="#" th:src="@{~/img/GitHub-Mark-Light-32px.png}" class="img mr-2" alt="GitHub logo">Desktop tools for Game Masters running Warhammer 4th edition
                    </small></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>