<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/formStyle.css}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="UTF-8"></script>
</head>
<body>

<form class="register-form" th:action="@{/login}" method="post">
    <h1>Login</h1>
    <p th:if="${loginError}" class="error">Wrong user or password.</p>
    <div class="txtb">
        <input type="text" name="username">
        <span data-placeholder="Username"></span>
    </div>
    <div class="txtb">
        <input type="password" name="password">
        <span data-placeholder="Password"></span>
    </div>
    <input type="submit" class="reg-button" value="LOGIN">

    <div class="bottom-text">
        Security provided by Spring Security.
    </div>
</form>

<script type="text/javascript">
    $(".txtb input").on("focus", function () {
        $(this).addClass("focus");
    })

    $(".txtb input").on("blur", function () {
        if ($(this).val() == "")
            $(this).removeClass("focus");
    })
</script>
</body>
</html>