<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>My Purchases</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<header>
    <nav class="navbar navbar-dark bg-dark navbar-expand-xl">
        <a href="/" class="navbar-brand"><img src="#" th:src="@{~/img/logo.png}" width="66" height="35"
                                              class="d-inline-block mr-1 align-bottom" alt="">Aligatro</a>

        <button class="navbar-toggler order-first" type="button" data-toggle="collapse" data-target="#main-navbar"
                aria-controls="main-navbar" aria-expanded="false" aria-label="Navigation Bar Toggler">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="navbar-nav mr-auto">
                <li sec:authorize="isAnonymous()" class="nav-item">
                    <a class="nav-link" th:href="@{/login}">Sign-In</a>
                </li>
                <li sec:authorize="isAnonymous()" class="nav-item">
                    <a class="nav-link" th:href="@{/register}">Register</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link" th:href="@{/edit}"><span sec:authentication="name"></span></a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <img src="/avatar" alt="" height="40px">
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">Logout</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link" th:href="@{/addAuction}">New Auction</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link" th:href="@{/myPurchases}">My Purchases</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item active">
                    <a class="nav-link" th:href="@{/myAuctions}">My Auctions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#sticky-footer">Contact</a>
                </li>
            </ul>
            <form class="form-inline" action="#" th:action="@{/search}" method="post">
                <input class="form-control mr-1" type="search" name="phrase" placeholder="Search..." aria-label="Search">
                <button class="btn btn-secondary" type="submit">Search auction</button>
            </form>
        </div>
    </nav>
</header>

<div class="container-fluid bg-dark">
    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-striped table-dark table-hover table-sm">
                <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Started</th>
                    <th scope="col">Finish</th>
                    <th scope="col">Status</th>
                    <th scope="col">Buy Now</th>
                    <th scope="col">Min price</th>
                    <th scope="col">Highest bid</th>
                    <th scope="col">Highest bidder</th>
                    <th scope="col">Buyer</th>
                    <th scope="col">Kill Switch</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="auction : ${auctions}">
                    <td><span th:text="*{auction.title}">Title</span></td>
                    <td><span th:text="*{auction.startDate}">20-12-2010</span></td>
                    <td><span th:text="*{auction.endDate}">22-01-2014</span></td>
                    <td><span th:text="*{auction.auctionStatus}">ACTIVE</span></td>
                    <td><span th:text="*{#numbers.formatDecimal(auction.buyNowPrice,1,2)}">100,00</span></td>
                    <td><span th:text="*{#numbers.formatDecimal(auction.minimumBid,1,2)}">10,00</span></td>
                    <td><span th:text="*{#numbers.formatDecimal(auction.bidding.currentBid,1,2)}">15,00</span></td>

                    <td th:if="*{auction.bidding.user != null && auction.auctionStatus.toString().equals('ACTIVE')}"><span th:text="*{auction.bidding.user.username}">SuperUser90</span></td>
                    <td th:if="*{auction.bidding.user == null || auction.auctionStatus.toString().equals('FINISHED')}"></td>

                    <td th:if="*{auction.auctionStatus.toString().equals('FINISHED') && auction.purchase ne null}"><span th:text="*{auction.purchase.user.username}">OtherUser44</span></td>
                    <td th:if="*{auction.auctionStatus.toString().equals('FINISHED') && auction.purchase eq null}"></td>
                    <td th:if="*{!auction.auctionStatus.toString().equals('FINISHED')}"></td>
                    
                    <td th:if="*{auction.bidding.currentBid == 0.00 && auction.auctionStatus.toString().equals('ACTIVE')}"><form th:action="@{/auction/cancel(auctionId=${auction.id})}" method="post"><button class="btn btn-danger" th:type="submit">Cancel Auction</button></form></td>
                    <td th:if="*{auction.bidding.currentBid != 0.00 || auction.auctionStatus.toString().equals('FINISHED')}"><button type="button" class="btn btn-danger" disabled>Cancel Auction</button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<footer id="sticky-footer" class="py-2 bg-secondary text-white-50">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <ul class="list-unstyled mt-2 mb-2 py-2">
                    <li><small>Copyright &copy; Tomasz Gieraltowski</small></li>
                    <li class="py-1"><a href="mailto:tgieraltowski@gmail.com"><small class="text-white">
                        <img src="#" th:src="@{~/img/Gmail-icon.png}" class="img mr-2" alt="Gmail logo">Email me</small>
                    </a></li>
                    <li class="py-1"><a href="https://bitbucket.org/tgieraltowski/aligatro/src/master/"><small class="text-white">
                        <img src="#" th:src="@{~/img/bitbucket-icon.png}" class="img mr-2" alt="Bitbucket logo">Source code
                    </small></a></li>
                    <li class="py-1"><a href="https://www.linkedin.com/in/tgieraltowski/"><small class="text-white">
                        <img src="#" th:src="@{~/img/icons8-linkedin-32.png}" class="img mr-2" alt="Bitbucket logo">Linkedin
                    </small></a></li>
                </ul>
            </div>
            <div class="col-sm-6">
                <ul class="list-unstyled mt-2 mb-2 py-2">
                    <li><small>My other projects:</small></li>
                    <li class="py-1"><a href="https://github.com/jonnybazooka/NBPCurrencyToolkit"><small class="text-white">
                        <img src="#" th:src="@{~/img/GitHub-Mark-Light-32px.png}" class="img mr-2" alt="GitHub logo">Desktop neural network predicting currency changes
                    </small></a></li>
                    <li class="py-1"><a href="https://github.com/jonnybazooka/WarhammerGameMasterTools"><small class="text-white">
                        <img src="#" th:src="@{~/img/GitHub-Mark-Light-32px.png}" class="img mr-2" alt="GitHub logo">Desktop tools for Game Masters running Warhammer 4th edition
                    </small></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>