<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>PurchaseForm</title>
    <link rel="stylesheet" th:href="@{/css/formStyle.css}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="UTF-8"></script>
</head>
<body>
<form class="register-form-details" action="#" th:action="@{/auction/buyNow(auctionId=${auction.id})}" th:object="${purchaseForm}" method="post">
    <h1>Confirm Purchase of <span th:text="${auction.title}">Auction Title</span></h1>
    <div class="error" th:if="${#fields.hasAnyErrors()}">
        <p th:each="err : ${#fields.allErrors()}" th:text="${err}">...</p>
    </div>
    <div class="txtc">
        <input type="text" name="username" disabled>
        <span th:data-placeholder="${#authentication.name}"></span>
    </div>
    <div class="txtc">
        <input type="text" name="amount" disabled>
        <span th:data-placeholder="${auction.buyNowPrice}"></span>
    </div>
    <div class="txtc">
        <input type="text" name="creditCard">
        <span data-placeholder="Credit Card Number"></span>
    </div>
    <div class="txtc">
        <input type="text" name="csc">
        <span data-placeholder="CSC Number"></span>
    </div>
    <input type="submit" class="reg-button" value="CONFIRM PURCHASE">
</form>

<script type="text/javascript">
    $(".txtc input").on("focus", function () {
        $(this).addClass("focus");
    })

    $(".txtc input").on("blur", function () {
        if ($(this).val() == "")
            $(this).removeClass("focus");
    })
</script>
</body>
</html>