<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/css/formStyle.css}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="UTF-8"></script>
</head>
<body>
<form class="register-form" action="/register/new" method="post">
    <h1>Register</h1>
    <div class="txtb">
        <input type="text" name="username">
        <span data-placeholder="Username"></span>
    </div>
    <div class="txtb">
        <input type="password" name="password">
        <span data-placeholder="Password"></span>
    </div>
    <input type="submit" class="reg-button" value="REGISTER">

    <div class="bottom-text">
        This is first step of registration. Don't forget your username and keep your password strong.
    </div>
</form>

<script type="text/javascript">
    $(".txtb input").on("focus", function () {
        $(this).addClass("focus");
    })

    $(".txtb input").on("blur", function () {
        if ($(this).val() == "")
        $(this).removeClass("focus");
    })
</script>
</body>
</html>