<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
    <link rel="stylesheet" th:href="@{/css/formStyle.css}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="UTF-8"></script>
</head>
<body>
<form class="register-form-details" action="#" th:action="@{/register/details}" th:object="${userDetailsForm}" method="post" enctype="multipart/form-data">
    <h1>Enter details for <span th:text="${session.user.username}"></span> </h1>
    <div class="error" th:if="${#fields.hasAnyErrors()}">
        <p th:each="err : ${#fields.allErrors()}" th:text="${err}">...</p>
    </div>
    <div class="txtc">
        <input type="email" id="email" th:field="*{email}">
        <span data-placeholder="Email"></span>
    </div>
    <div class="txtc">
        <input type="text" id="province" th:field="*{province}">
        <span data-placeholder="Province"></span>
    </div>
    <div class="txtc">
        <input type="text" id="city" th:field="*{city}">
        <span data-placeholder="City"></span>
    </div>
    <div class="txtc">
        <input type="text" id="street" th:field="*{street}">
        <span data-placeholder="Street"></span>
    </div>
    <div class="txtc">
        <input type="text" id="houseNumber" th:field="*{houseNumber}">
        <span data-placeholder="House Number"></span>
    </div>
    <div class="txtc">
        <input type="text" id="apartmentNumber" th:field="*{apartmentNumber}">
        <span data-placeholder="Apartment Number"></span>
    </div>
    <div class="txtc">
        <input type="text" id="postCode" th:field="*{postCode}">
        <span data-placeholder="Post Code"></span>
    </div>
    <div class="txtc">
        <input type="file" id="avatar" name="avatar">
        <span data-placeholder="Avatar"></span>
    </div>
    <input type="submit" class="reg-button" value="SUBMIT">

</form>

<script type="text/javascript">
    $(".txtc input").on("focus", function () {
        $(this).addClass("focus");
    })

    $(".txtc input").on("blur", function () {
        if ($(this).val() == "")
            $(this).removeClass("focus");
    })
</script>
</body>
</html>